*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.section1{
    background-color: #fff151;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /*border: black 1px solid;*/
    color: #333533;
    /*background: rgb(255,241,81);
    background: linear-gradient(0deg, rgba(255,241,81,1) 0%, rgba(255,252,216,1) 100%); */
    background: rgb(255,241,81);
    background: linear-gradient(0deg, rgba(255,241,81,1) 0%, rgba(254,247,182,1) 100%); 
}
.brand-title{
    display: flex;
    align-items: center;
    font-family: 'Mukta', sans-serif;;
    font-size: 3rem;
    margin-left: 3vw;
}
.brand-title h4{
    margin: 0;
}
.navbar-links{
    margin-right: 3vw;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    
    list-style: none;
}
.navbar-links li a{
    font-family: 'Mukta', sans-serif;
    font-size: 2rem;
    text-decoration: none;
    color:#333533;
    display: block;
}
.description{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Mukta', sans-serif;
    color: #333533;
    margin-top: 10vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
.radar-box{
    display: flex;
    justify-content: center;
}
.radar{  
    width: 0;
    height: 0;
    border-left: 14vw solid transparent;
    border-right: 14vw solid transparent;
    border-top: 20vw solid #ffd100;
    border-radius: 50%;
    animation: mySpinner 4s;
    /*animation-iteration-count: infinite;*/
}
@keyframes mySpinner{
    from {
        transform-origin: bottom;
        transform:rotate(0deg);
    }
    to{
        transform-origin: bottom;
        transform: rotate(360deg);
    }
}
.register{
    display: flex;
    justify-content: center;
}
.register a{
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    font-size: 2.5rem;
    color: #333533;
    padding: 15px;
    border-radius: 10px;
    margin-top: 4vh;
    margin-bottom: 20vh;
}
.register a:hover{
    background-color: #ffd100;
}
.section2{
    display: flex;
    background-color: #d6d6d6;
    justify-content: space-around;
    height: 100vh;
}
/*.logo{
    width: 10vw;
}*/     